@import "./variables";

@mixin mobile {
  @media (min-width: #{$mobile_width}) and (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}

@mixin flex-default-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flex-default-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
