.Dashboard {
    margin-top: 32px;
    height: 200px;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DashboardItem {
    height: 180px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px #DDDDDD;
}

.Word {
    margin-right: 16px;
}

.Count {
    margin-left: 16px;
}

.DashboardItemTitle {
    font-size: x-large;
    font-family: 'NanumSquareRoundB';
}

.DashboardItemContent {
    margin-top: 20px;
    font-size: large;
    font-family: 'NanumSquareRoundR';
}
