@import "../../mixin.scss";

.Dashboard {
  @include flex-default-row;

  margin-top: 32px;
  height: 0 auto;
  width: 70vw;

  .DashboardItem {
    @include flex-default-column;

    flex: 1;
    height: 128px;
    box-shadow: 0px 0px 32px #dddddd;

    .DashboardItemTitle {
      font-size: x-large;
      font-family: "NanumSquareRoundB";
    }

    .DashboardItemContent {
      margin-top: 16px;
      font-size: large;
      font-family: "NanumSquareRoundR";
    }
  }

  .Word {
    margin-right: 16px;
  }

  .Count {
    margin-left: 16px;
  }
}

@include desktop {
}

@include tablet {
}

@include mobile {
  .Dashboard {
    @include flex-default-column;

    width: 90vw;

    .DashboardItem {
      @include flex-default-column;

      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;

      .DashboardItemTitle {
        font-size: large;
        font-family: "NanumSquareRoundB";
      }

      .DashboardItemContent {
        margin-top: 16px;
        font-size: medium;
        font-family: "NanumSquareRoundR";
      }
    }

    .Word {
      margin-right: 0px;
    }

    .Count {
      margin-top: 16px;
      margin-left: 0px;
    }
  }
}
