@import "../../mixin.scss";

.wrap-footer {
  height: 20vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  .footer-link {
    font-size: x-large;
    font-family: "NanumSquareRoundB";

    width: 90%;
    padding-top: 32px;
    padding-bottom: 32px;

    text-align: right;
    align-self: center;

    flex: 1;

    @include flex-default-row;
    justify-content: flex-end;

    .link-text {
      text-decoration: none;
      color: black;
    }
  }

  .footer-body {
    background-color: #e4e7e8;

    font-size: medium;
    font-family: "NanumSquareRoundR";

    text-align: left;
    align-self: center;

    width: 100%;

    padding-top: 32px;
    padding-bottom: 32px;

    @include flex-default-row;
  }
}

@include desktop {
}

@include tablet {
}

@include mobile {
  .wrap-footer {
    .footer-link {
      font-size: medium;
    }
    .footer-body {
      font-size: small;
    }
  }
}
