@import "../../mixin.scss";

.wrap-timegraph {
  @include flex-default-column;

  font-size: x-large;
  font-family: "NanumSquareRoundR";
  height: 70vh;
  width: 90vw;
  margin-top: 32px;
  box-shadow: 0px 0px 40px #eeeeee;

  .timegraph-header {
    width: 90%;
    height: 20%;

    @include flex-default-row;
    justify-content: flex-start;
  }

  .timegraph-content {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 90%;
    height: 80%;

    @include flex-default-column;
  }
}

@include desktop {
}

@include tablet {
}

@include mobile {
  .wrap-timegraph {
    @include flex-default-column;

    font-size: large;
    font-family: "NanumSquareRoundR";
    height: 70vh;
    width: 90vw;
    margin-top: 32px;
    box-shadow: 0px 0px 40px #eeeeee;

    .timegraph-header {
      width: 90%;
      height: 20%;

      @include flex-default-row;
      justify-content: flex-start;
    }

    .timegraph-content {
      margin-top: 16px;
      margin-bottom: 16px;
      width: 90%;
      height: 80%;

      @include flex-default-column;
    }
  }
}
