@import "../../mixin.scss";

.Title {
  font-family: "NanumSquareRoundEB";
  height: fit-content;
  width: fit-content;
  margin-top: 16px;
}

@include desktop {
  .Title {
    font-size: xx-large;
  }
}

@include tablet {
  .Title {
    font-size: xx-large;
  }
}

@include mobile {
  .Title {
    font-size: x-large;
  }
}
